.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('file:///Users/jfisher20/Desktop/%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20.%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20/School/Subjects/Technology/Year%208/Unit%201%20Arduino/BestOfBest/icons/My_Schools.png');
  height: 1500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:0px;
}

.Title h1 {
  color: black;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.Title p {
  font-size: 20px;
  color: black;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.neighbourhood-guides {
  background-color: #efefef;
  border-bottom: #1px solid;
}
.neighbourhood-guides h2 {
  color: #393c3d;
  font-size: 24px;
}
.neighbourhood-guides h2 {
  margin-bottom: 13px;
  font-size: 15px;
}